In [1]:
import pandas as pd

In [2]:
# 2 main datatypes 
series = pd.series(["BMW","Toyota", "Honda", "RangeRover"])

AttributeError: module 'pandas' has no attribute 'series'

In [3]:
# 2 main datatypes 
series = pd.Series(["BMW","Toyota", "Honda", "RangeRover"])

In [4]:
series

0           BMW
1        Toyota
2         Honda
3    RangeRover
dtype: object

In [5]:
colors = pd.Series(["red", "blue", "green", "white"])

In [6]:
colors

0      red
1     blue
2    green
3    white
dtype: object

In [7]:
car_data = pd.DataFrame({"Car make": series, "Color": colors})

In [8]:
car_data

     Car make  Color
0         BMW    red
1      Toyota   blue
2       Honda  green
3  RangeRover  white

In [9]:
car_sales = pd.read_csv('car-sales.csv')

In [10]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00